<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="networkCredentialsConfiguration" type="NuGet.Http.Configuration.NetworkCredentialsSection, Nuget" requirePermission="false"/>
  </configSections>

  <networkCredentialsConfiguration>
    <networkCredentials>
		<!-- setup userName, password and optional domain for any private servers -->
		<!--<add url="url" userName="user" password="password"/>-->
		<!--<add url="url" userName="user" password="password" domain="domain"/>-->
    </networkCredentials>
  </networkCredentialsConfiguration>
</configuration>